body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
}

.navbar {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.products {
  flex: 3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
}

.card img {
  height: 150px;
  object-fit: contain;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.card button:hover {
  background-color: #0056b3;
}

.cart {
  flex: 1;
  background: white;
  padding: 15px;
  margin-top: 4.3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-item img {
  height: 50px;
  object-fit: contain;
}
