body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  
}


.employee-list {
  display: flex;
  flex-wrap: wrap;         
  justify-content: space-between;
  gap: 15px;
  margin: 5rem;
}

.employee-card {
  background: rgb(11, 11, 11);
  color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;     
  box-sizing: border-box;  
}

.employee-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
